.logo-header {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 20px 0;
  img {
    width: 20px;
  }
  .logo-heading-name {
    font-family: InconsolataExtraBold;
    font-size: var(--text-preset-5-font-size);
    line-height: 110%;
    letter-spacing: -0.3px;
    padding-left: 16px;
  }
}

.heading{
  text-align: center;
}

.main-heading {
  margin: 0px auto;
  font-family: InconsolataExtraBold;
  font-size: var(--text-preset-1-font-size);
  line-height: 110%;
  letter-spacing: -1px;
}

@media screen and (max-width: 1440px) {
  .logo-header {
    width: 12%;
  }
  .main-heading {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .logo-header {
    width: 15%;
  }
  .main-heading {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .logo-header {
    width: 30%;
  }
  .main-heading {
    width: 70%;
    font-size: var(--text-preset-2-mobile-font-size);
  }
}
